.jumbotron
{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100%;
}
.card-text{
    font-size:16px;
    font-weight:400;
    color:#484848;
    line-height:1.35em;
    height:34px;
}
.product-price {
    font-size: 15px;
    font-weight: 700;
    color: #414141;
}
.product-details{
    font-size:20px;
    font-weight:700;
}
.description {
    font-size: 12px;
    height: 40px;
}
#write-review {
    margin-left: -50px;
}
#
product-price{
    font-size: 26px;
    color: red;
}
#number
{
    font-size: 30px;
    color: green;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}